<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/god-of-war.jpg" alt="slide1" />
		</div>
		<div class="carousel-caption">
			<button><a href="#">COMPRE AQUI!</a></button>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/sonic_frontiers_banner (gr).jpg" alt="slide2" />
		</div>
		<div class="carousel-caption">
			<button><a href="#">COMPRE AQUI!</a>l</button>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/mw2.jpg" alt="slide3" />
		</div>
		<div class="carousel-caption">
			<button><a href="#">COMPRE AQUI!</a></button>
		</div>
	</ng-template>
</ngb-carousel>

