<section class="jogos-titulo">
    <div id="titulo1">
        <h2>Jogos em Destaque:</h2>
        <span class="pesquisa-jogos">
            <form class="search">
                <input class="input-pesquisa" type="search" placeholder="Pesquise por Jogo..." alt="Pesquisa">
                <button type="submit" class="button-search">
                    <a href="#"><img src="../../../assets/img/icons8-pesquisar-40.png" alt="gif1"></a>
                </button>
            </form>
        </span>
    </div>
</section>

<section id="jogos">
    <div *ngFor="let Jogos of listaJogos" class="card">
        <img [src]="Jogos.imagem" class="card-img-top" alt="battlefield"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">{{Jogos.title}}</h5>
            <p class="card-text">{{Jogos.descricao}}.</p>
        </div>
    </div>
</section>

<nav aria-label="...">
    <ul class="pagination pagination-circle justify-content-end">
        <li class="page-item">
            <a href="#" class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul></nav>
