<section class="jogos-titulo">
    <div id="titulo1">
        <h2>Jogos em Destaque:</h2>
        <span class="pesquisa-jogos">
            <form class="search">
                <input class="input-pesquisa" type="search" placeholder="Pesquise por Jogo..." alt="Pesquisa">
                <button type="submit" class="button-search">
                    <a href="#"><img src="../../../assets/img/icons8-pesquisar-40.png" alt="gif1"></a>
                </button>
            </form>
        </span>
    </div>
</section>
<section id="jogos">
    <div class="card">
        <img src="../../../assets/img/battlefield-banner.png" class="card-img-top" alt="battlefield"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">BATTLEFIELD 2042</h5>
            <p class="card-text">Jogo de tiro em primeira pessoa (FPS), publicado pela Electronic Arts, sendo o 10° da série Battlefield.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/cyber77500x500.jpg" class="card-img-top" alt="cyberpunk"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">CYBERPUNK 2077</h5>
            <p class="card-text">Jogo de RPG de ação publicado pela CD Projekt, sendo jogado em um mundo aberto fictício de Cyberpunk e jogado pela perspectiva em primeira pessoa.</p>
          
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/elden-ring-500x500.jpg" class="card-img-top" alt="elden-ring"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">ELDEN RING</h5>
            <p class="card-text">Jogo de RPG de ação em terceira pessoa com um mundo aberto interativo, publicado pela Bandai Namco.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/gta-5-button-2021-1639777058682.jpg" class="card-img-top" alt="gta-5"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">GTA V</h5>
            <p class="card-text">Grand Theft Auto V. É um jogo de ação aventura publicado pela Rockstar e o 7° da série GTA.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/Need-for-Speed-Unbound.jpg" class="card-img-top" alt="need-for-speed"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">NEED FOR SPEED UNNBOUN</h5>
            <p class="card-text">Jogo de corrida publicado pela Electronic Arts, sendo o 25° jogo da franquia Need for Speed.</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/pokemon_visual_2x.jpg" class="card-img-top" alt="pokemon"/>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Compre</a>
            <h5 class="card-title">POKÉMON SCARLET AND VIOLET</h5>
            <p class="card-text">Jogo publicado pela Nintendo, é um RPG em mundo aberto que inclui áreas urbanas e regiões selvagens e conta com 3 novos Pokémon iniciais.</p>
        </div>
    </div>
</section>

<nav aria-label="...">
    <ul class="pagination pagination-circle justify-content-end">
        <li class="page-item">
            <a href="#" class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul></nav>
