<footer class="rodape">
    <div class="contatos">
        <div id="text-contatos">
            <h3>Dúvidas?</h3>
            <h4>Entre em contato com nossa equipe!</h4>
        </div>
        <span class="icon-contatos">
            <a href="#">
                <img src="../../../assets/img/icons8-mensagem-com-quadrado-40.png" alt="email">
                <img src="../../../assets/img/icons8-telefone-64.png" alt="telefone">
            </a>
        </span>
    </div>
    <div class="redes-sociais">
        <h3>Nos siga nas redes sociais para mais novidades!</h3>
        <span class="icon-redes">
            <a href="#">
                <img src="../../../assets/img/icons8-instagram-40.png" alt="instagram">
                <img src="../../../assets/img/icons8-twitter-40.png" alt="twitter">
                <img src="../../../assets/img/icons8-youtube-ao-quadrado-48.png" alt="youtube">
            </a>
        </span>
    </div>
</footer>
