.formulario-login {
    height: 300px;
    width: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    margin: 50px auto;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EBF2FA;
    margin: 0 auto;
}
label {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: .9em;
    padding: 5px;
}
input {
    margin-bottom: 30px;
}
#btn-enviar {
    color: #EBF2FA;
    background-color: #427AA1;
    border-radius: 10px;
    padding: 8px 15px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: .9em;
}
#btn-enviar:hover {
    color: #032D58;
    background-image: linear-gradient(to right, #86b6d8be, #ebf2fabe);
    transition: 0.8s;
}
#voltar-home {
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    margin: 5px 50px;
    padding: 0;
    color: #EBF2FA;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
#voltar-home img {
    width: 55px;
    height: auto;
    margin-right: 5px;
}
p {
    text-align: center;
    color: red;
    font-family: 'Orbitron', sans-serif;
}
