<header class="container">
    <app-sanduiche></app-sanduiche>
    <div class="logo">
        <img src="../../../assets/img/favicon3.png" alt="logo1">
        <img src="../../../assets/img/Logo-site.png" alt="logo2">
    </div>
    <nav>
      <div id="nav-principal" class="menu1">
        <ul class="menu-text">
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Comunidade</a></li>
          <li><a href="#">Novidades</a></li>
        </ul>
      </div>
      <div class="menu2">
        <ul class="menu-img">
          <li>
            <a routerLink="/login" id="login">
              <span class="icon-text">Perfil</span>          
              <img src="../../../assets/img/icon-usuario1.png" alt="usuario">
            </a>
          </li>
          <li>
            <a href="#" id="carrinho">
              <span class="icon-text">Compras</span>
              <img src="../../../assets/img/icon-carrinho1.png" alt="compras">
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
